<div class="container">
  <h1 [ngStyle]="{ 'visibility': formComponentShouldBeDisplayed ? 'visible' : 'hidden' }">Form Component Below:</h1>
  <app-form *ngIf="formComponentShouldBeDisplayed"></app-form>

  <button
    [ngClass]="{
      'btn': true,
      'btn-danger': formComponentShouldBeDisplayed,
      'btn-success': !formComponentShouldBeDisplayed,
      'mt-5': true
    }"
    (click)="onToggleButtonClick()">Toggle component</button>
</div>

<hr>
<h1>Switch Example</h1>
<app-switch-example></app-switch-example>
